<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">TeamUp</h3>
              <nav class="nav nav-masthead">
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Find your team.</h1>
            <p class="lead">TeamUp is a team-building tool built by Purdue students, for Purdue students. TeamUp centralizes the process and allows for students to find classmates with similar skills and interests. </p>
            <p class="lead">
              <%= link_to('Sign In', sign_in_welcome_index_path, class: 'btn btn-lg btn-secondary') %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            </div>
          </div>

        </div>

      </div>

    </div>
